{% extends "base.html" %}
{% block content %}

<div class="level mb-4">
  <div class="level-left">
    <div class="level-item">
      <h2 class="title is-4">Reset Password for {{ user.username }}</h2>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <a href="{{ url_for('list_users') }}" class="button is-light">Back to Users</a>
    </div>
  </div>
</div>

<div class="box" style="max-width: 500px;">
  {% if error %}
  <div class="notification is-danger">
    {{ error }}
  </div>
  {% endif %}
  
  <form method="POST" action="{{ url_for('reset_user_password', user_id=user.id) }}">
    <div class="field">
      <label class="label">New Password</label>
      <div class="control">
        <input class="input" type="password" name="password" required autofocus placeholder="Enter new password (min 4 characters)">
      </div>
      <p class="help">Must be at least 4 characters long</p>
    </div>
    
    <div class="field">
      <label class="label">Confirm New Password</label>
      <div class="control">
        <input class="input" type="password" name="confirm_password" required placeholder="Confirm new password">
      </div>
    </div>
    
    <div class="field">
      <div class="control">
        <button class="button is-primary" type="submit">Reset Password</button>
        <a href="{{ url_for('list_users') }}" class="button is-light ml-2">Cancel</a>
      </div>
    </div>
  </form>
  
  <div class="notification is-warning is-light mt-4">
    <p><strong>Warning:</strong> This will immediately change the password for {{ user.username }}. They will need to use the new password to log in.</p>
  </div>
</div>

{% endblock %}

