{% extends "base.html" %}
{% block content %}

<div class="box" style="max-width: 500px; margin: 2rem auto;">
  <h2 class="title is-4">Initial Setup</h2>
  <p class="subtitle is-6 has-text-grey mb-4">Create the first teacher account to get started</p>
  
  {% if error %}
  <div class="notification is-danger">
    {{ error }}
  </div>
  {% endif %}
  
  <form method="POST" action="{{ url_for('setup') }}">
    <div class="field">
      <label class="label">Teacher Username</label>
      <div class="control">
        <input class="input" type="text" name="username" required autofocus placeholder="Enter username">
      </div>
      <p class="help">This will be your login username</p>
    </div>
    
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" name="password" required placeholder="Enter password">
      </div>
    </div>
    
    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input class="input" type="password" name="confirm_password" required placeholder="Confirm password">
      </div>
    </div>
    
    <div class="field">
      <div class="control">
        <button class="button is-primary is-fullwidth" type="submit">Create Teacher Account</button>
      </div>
    </div>
  </form>
  
  <div class="notification is-info is-light mt-4">
    <strong>Note:</strong> After creating this account, you'll be automatically logged in. 
    You can then create additional teacher and student accounts from the "Manage Users" page.
  </div>
</div>

{% endblock %}

